<template>
    <div>
        <div class="page-title">Anketų sąrašas</div>
        <wi-table
            :fetch-callback="fetch"
            :default-params="{ sort: 'createdAt'}"
            disable-header
        >
            <wi-table-column field="id" class="text-nowrap">#</wi-table-column>
            <wi-table-column field="title" class="text-nowrap">Pavadinimas</wi-table-column>
            <wi-table-column field="ends_at" class="text-nowrap" sortable>Pasibaigs</wi-table-column>

            <template slot="actions" slot-scope="{ item }">
                <router-link
                    :to="`/poll/${item.url}`"
                    class="btn btn-sm btn-primary"
                >
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                </router-link>
            </template>
        </wi-table>
    </div>
</template>

<script>
export default {
  name: 'ActivePolls',

  methods: {
    fetch (params) {
      return this.$api.polls.user.list(params)
    }
  }
}
</script>
