<template>
    <div>
        <h3 class="page-title">{{ poll.title }}</h3>
        <div class="row">
            <div class="col-12">
                <Card>
                    <div class="row">
                        <div class="col-12">
                            <form @submit.prevent="confirm($event)">
                                <div class="row">
                                    <div class="col-12">
                                        <QuestionForm
                                            v-for="(question, index) in poll.questions"
                                            :key="index"
                                            :question="question"
                                        ></QuestionForm>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 text-center">
                                        <button
                                            class="btn btn-sm btn-primary"
                                            type="submit"
                                        >
                                            Išsaugoti
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </Card>
            </div>
        </div>
    </div>
</template>

<script>
import { $api } from '%/api'
import { mapGetters, mapMutations } from 'vuex'
import QuestionForm from './QuestionForm'

export default {
  name: 'AnswerPoll',

  computed: {
    ...mapGetters([
      'poll'
    ])
  },

  beforeRouteLeave (to, from, next) {
    this.resetPoll()
    next()
  },

  methods: {
    ...mapMutations([
      'setPoll',
      'addPollQuestion',
      'resetPoll'
    ]),

    confirm (event) {
      this.errors.clear()

      this.$api.polls.user.answer(this.poll.url, new FormData(event.target)).then(() => {
        this.$router.push('/polls')
      }).catch((response) => {
        this.setErrorsFromResponse(response)
      })
    }
  },

  beforeRouteEnter (to, from, next) {
    $api.polls.user.show(to.params.slug).then((response) => {
      next(vm => {
        vm.setPoll(response)
      })
    })
  },

  components: {
    QuestionForm
  }
}
</script>
