<template>
    <div class="row mb-1 poll-question__answer">
        <div
            :class="{'form-group': true, 'is-invalid': errors.has(`answers.${question.id}`)}"
            class="col-12"
        >
            <label>{{ question.title }}</label>

            <template v-if="question.type === 'checkbox'">
                <div
                    class="control control-checkbox"
                    v-for="(option, index) in question.options"
                    :key="index"
                >
                    <input
                        type="checkbox"
                        :id="option.id"
                        :name="`answers[${question.id}][]`"
                        :value="option.id"
                    >
                    <label :for="option.id" v-text="option.value"></label>
                </div>
            </template>

            <template v-if="question.type === 'radio'">
                <div
                    class="control control-radio"
                    v-for="(option, index) in question.options"
                    :key="index"
                >
                    <input
                        type="radio"
                        :id="option.id"
                        :name="`answers[${question.id}]`"
                        :value="option.id"
                    >
                    <label :for="option.id" v-text="option.value"></label>
                </div>
            </template>

            <template v-if="question.type === 'text'">
                <input
                    type="text"
                    :name="`answers[${question.id}]`"
                    class="form-control"
                />
            </template>

            <template v-if="question.type === 'textarea'">
                <textarea
                    :name="`answers[${question.id}]`"
                    class="form-control"
                    rows="5"
                ></textarea>
            </template>

            <div v-if="errors.has(`answers.${question.id}`)" class="d-block invalid-feedback">
                {{ errors.first(`answers.${question.id}`)}}
            </div>
        </div>
    </div>
</template>

<script>
export default {
  inject: ['$validator'],

  name: 'QuestionForm',

  props: {
    question: Object
  }
}
</script>
