<template>
    <div class="row">
        <div class="col-12">
            <Card>
                <div class="row">
                    <div class="col-12">
                        <form-input
                            name="first_name"
                            type="text"
                            label="Vardas"
                            v-model="user.firstName"
                        ></form-input>

                        <form-input
                            name="last_name"
                            type="text"
                            label="Pavardė"
                            v-model="user.lastName"
                        ></form-input>

                        <form-input
                            name="email"
                            type="email"
                            label="El. pašto adresas"
                            v-model="user.email"
                        ></form-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-sm-right text-center mt-4">
                        <button
                            class="btn btn-primary"
                            @click.prevent="save"
                            :disabled="loading"
                        >
                            Išsaugoti
                        </button>
                    </div>
                </div>
            </Card>
        </div>
    </div>
</template>

<script>
import User from '+/User'

export default {
  name: 'ProfileEditForm',

  data () {
    return {
      user: new User(this.$auth.user()),
      loading: false
    }
  },

  methods: {
    save () {
      this.errors.clear()
      this.$validator.validate().then((valid) => {
        if (valid) {
          this.loading = true
          this.$api.auth.updateProfile(this.user).then(() => {
            this.updateAuth()
            this.loading = false
          }).catch((response) => {
            this.setErrorsFromResponse(response)
            this.loading = false
          })
        }
      })
    },

    updateAuth () {
      this.$auth.fetch().then((res) => {
        this.user = new User(res.data.data)
      })
    }
  }
}
</script>
