<template>
        <div class="row mt-4">
            <div class="col-12">
                <Card>
                    <template slot="title">Keisti slaptažodį</template>

                    <FormInput
                        name="old_password"
                        type="password"
                        label="Dabartinis slaptažodis"
                        v-model="passwords.oldPassword"
                    ></FormInput>

                    <FormInput
                        name="password"
                        type="password"
                        label="Naujas slaptažodis"
                        v-model="passwords.password"
                    ></FormInput>

                    <FormInput
                        name="password_confirmation"
                        type="password"
                        label="Naujo slaptažodžio patvirtinimas"
                        v-model="passwords.passwordConfirmation"
                    ></FormInput>

                    <div class="col-12 text-sm-right text-center mt-4">
                        <button
                            class="btn btn-primary"
                            @click.prevent="change"
                            :disabled="loading"
                        >
                            Keisti
                        </button>
                    </div>
                </Card>
            </div>
        </div>
</template>

<script>
export default {
  name: 'ProfileChangePassword',

  data () {
    return {
      passwords: {
        oldPassword: null,
        password: null,
        passwordConfirmation: null
      },
      loading: false
    }
  },

  methods: {
    change () {
      this.errors.clear()
      this.loading = true
      this.$api.auth.changePassword(this.passwords).then().catch((response) => {
        this.setErrorsFromResponse(response)
        this.loading = false
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>
