<template>
    <div>
        <h3 class="page-title">Edit profile</h3>

        <ProfileEditForm/>

        <ProfileChangePassword/>
    </div>
</template>

<script>
import ProfileChangePassword from '@/Profile/ProfileChangePassword'
import ProfileEditForm from '@/Profile/ProfileEditForm'

export default {
  name: 'ProfileEdit',

  components: {
    ProfileEditForm,
    ProfileChangePassword
  }
}
</script>
