@media (max-width: 576px) {
    .steps-form {
        & .step-circle {
            width: 35px;
            height: 35px;
            font-size: 1rem;
        }
        & .steps-navigation .steps-progress-line {
            top: 22px;
        }
    }

}

@media (max-width: 768px) {
    h4 {
        font-size: 1rem !important;
    }

}
