#pdf-content {
  * {
    font-family: "DejaVu Serif" !important;
    font-size: 9pt;
    line-height: 1.1;
  }

  .table-condensed tbody>tr>td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ol.order-terms > li {
    font-size: 8pt;
  }
    table.table-order {
        > thead, > tbody, > tfoot {
            > tr {
                > th, > td {
                    font-style: italic;
                    vertical-align: middle;
                    border: 1px solid black
                }
            }
        }
        > thead > tr > th {
            background: black
        }

        > tfoot > tr > td {
            border: none
        }
    }
}
