// Steps

.steps-form {
  .steps-navigation {
    .steps-progress-line {
      position: relative;
      top: 40px;
      height: 2px;

      .steps-progress-bar {
        box-shadow: none;
        transition: width .3s ease;
        height: 100%;
      }
    }

    .steps-nav {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    .steps-nav-pills {
      margin-top: 0;
      position: relative;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li a {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        position: relative;
        top: 3px;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }

  .step-circle {
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
    color: $gray-500;
    border: 2px solid $gray-500;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    &.checked {
      outline: none;
    }
  }

  .step-title {
    color: $gray-500;
  }

  .steps-footer {
    text-align: center;
  }

  .step-number {
    color: $gray-500;

    &.active {
      color: $primary;
    }
  }

  i {
    font-style: normal;
  }

  .disabled {
    cursor: not-allowed;
  }
}

// Dropzone
.vue-dropzone {
  color: #a0a2a4 !important;
  border: 1px solid #f3f5fa !important;
}

.multiselect__tags {
  border-radius: 0 !important;
  padding: 0.375rem 0.75rem !important;
}

.content-wrapper {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.copyright {
  :hover {
    color: black;
  }

  #copyright-logo {
    opacity: .7;
  }

  #copyright-logo:hover {
    opacity: 1;
  }
}

.sidebar-body {
  padding: 30px 35px;
}

.login-block {
  width: 100%;
  height: 100vh;
}

.login-block-register {
  widht: 100%;

  @media (min-width: 1200px) {
    height: 100vh;
  }

  @media (max-width: 1199px) {
    margin-top: 50px;
  }
}

.poll {
  &-header {
    background-color: #f4f5f9;
    padding: 25px 30px 5px;
  }

  &-content {
    padding: 30px 30px 0;
    border: dashed 1px #c9d8e5;
    border-top: 0;
  }

  &-question {
    &__answer {
      &-action {
        cursor: pointer;
        i {
          font-size: 18px;
        }
      }
    }

    &__add {
      display: block;
      padding: 14px 30px;
      background-color: #f4f5f9;
      color: $primary;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;

      i {
        font-size: 28px;
      }
    }
  }

  &-block {
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #c9d8e5;
    padding: 40px 45px;
  }
}

.table {
  &--datatable {
    width: 100%;
    margin-bottom: 40px;
    & > thead {
      & > tr {
        & > th {
          background-color: #9badbe;
          color: #fff;
          font-size: 15px;
          font-weight: 300;
          text-transform: uppercase;
          border: 0;
          padding: 22px 30px 20px;

          &:first-child {
            border-top-left-radius: 2px;
          }
          &:last-child {
            border-top-right-radius: 2px;
          }
          &:before {
            display: inline-block;
            margin-left: 3px;
          }
        }
      }
    }
    & > tbody {
      & > tr {
        & > td {
          background-color: #fff;
          padding: 10px 30px 10px;
          border-top: 2px solid #f1f3f7;
          vertical-align: middle;
        }
      }
    }
  }
  &--poll {
    & > thead {
      & > tr {
        & > th {
          border: 0;
          padding: 0;
        }
      }
    }
    & > tbody {
      & > tr {
        &:nth-child(even) {
          td {
            background-color: #f4f5f9;
          }
        }
        & > td {
          font-size: 18px;
          font-weight: 300;
          padding: 14px 15px;
          border: 0;
        }
      }
    }
  }
}
