<template>
    <div class="row valign mb10 poll-question__answer">
        <div class="col-10 col-md-11">
            <FormInput
                :name="name"
                v-model="option.value"
                class="mb0"
                placeholder="pvz. Bananai"
                :scope="scope"
            ></FormInput>
        </div>

        <div class="col-2 col-md-1 poll-question__answer-actions">
            <span class="poll-question__answer-action poll-question__answer-action--remove"
                  @click="remove()">
                <i class="material-icons">close</i>
            </span>
        </div>
    </div>
</template>

<script>
export default {
  inject: ['$validator'],

  name: 'OptionForm',

  props: {
    option: Object,
    index: Number,
    questionIndex: Number,
    scope: String
  },

  computed: {
    name () {
      return 'questions.' + this.questionIndex + '.options.' + this.index + '.value'
    }
  },

  methods: {
    remove () {
      this.$emit('remove', this.index)
    }
  }
}
</script>
