<template>
    <div>
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="page-title">Anketų sąrašas</div>
            <router-link to="/admin/polls/create" class="btn btn-primary btn-sm">Sukurti</router-link>
        </div>

        <wi-table
            :fetch-callback="fetch"
            :default-params="{ sort: 'createdAt'}"
            disable-header
        >
            <wi-table-column field="id" class="text-nowrap">#</wi-table-column>
            <wi-table-column field="title" class="text-nowrap">Pavadinimas</wi-table-column>
            <wi-table-column field="status" class="text-nowrap" sortable>Statusas</wi-table-column>
            <wi-table-column field="ends_at" class="text-nowrap" sortable>Pasibaigs</wi-table-column>
            <wi-table-column field="answers_count" class="text-nowrap" sortable>Atsakymų skaičius</wi-table-column>

            <template slot="actions" slot-scope="{ item }">
                <router-link
                    :to="`/admin/polls/${item.id}/edit`"
                    class="btn btn-sm btn-primary"
                >
                    <font-awesome-icon icon="edit"></font-awesome-icon>
                </router-link>
                <router-link
                    :to="`/admin/polls/${item.id}/results`"
                    class="btn btn-sm btn-info"
                >
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                </router-link>
            </template>
        </wi-table>
    </div>
</template>

<script>
export default {
  name: 'AdminPollsList',

  methods: {
    fetch (params) {
      return this.$api.polls.admin.list(params)
    }
  }
}
</script>
