<template>
    <div>
        <h3 class="page-title">{{ poll.title }}</h3>
        <div class="row">
            <div class="col-12">
                <Card>
                    <div v-for="question in poll.questions">
                        <div class="row mb-2"
                             v-if="question.type !== 'text' && question.type !== 'textarea'">
                            <div class="col-12">
                                <div class="poll-block">
                                    <PollAnswersBarChart :question="question"></PollAnswersBarChart>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2" v-if="question.type === 'text' || question.type === 'textarea'">
                            <div class="col-12">
                                <div class="poll-block">
                                    <h4>{{ question.title }}</h4>

                                    <div class="row">
                                        <div class="table-responsive">
                                            <table id="datatable_poll" class="table table--poll">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="answer in question.answers">
                                                        <td>{{ answer.value }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </Card>
            </div>
        </div>
    </div>
</template>

<script>
import { $api } from '%/api'
import PollAnswersBarChart from './PollAnswersBarChart'
import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'PollResults',

  computed: {
    ...mapGetters([
      'poll'
    ])
  },

  methods: {
    ...mapMutations([
      'setPoll',
      'resetPoll'
    ])
  },

  beforeRouteEnter (to, from, next) {
    $api.polls.admin.show(to.params.id).then((response) => {
      next(vm => {
        vm.setPoll(response)
      })
    })
  },

  beforeRouteLeave (to, from, next) {
    this.resetPoll()
    next()
  },

  components: {
    PollAnswersBarChart
  }
}
</script>
