<template>
    <BarChart
        :labels="labels"
        :results="results"
        :title="question.title"
    ></BarChart>
</template>

<script>
import BarChart from '*/plugins/BarChart'

export default {
  name: 'PollAnswersBarChart',

  data () {
    return {}
  },

  props: {
    question: Object
  },

  computed: {
    labels () {
      return _.map(this.question.options, 'value')
    },

    results () {
      return _.map(this.question.options, 'answers_count')
    }
  },

  components: {
    BarChart
  }
}
</script>
