<template>
    <div>
        <h3 class="page-title">{{ title }}</h3>
        <div class="row">
            <div class="col-12">
                <Card>
                    <div class="row">
                        <div class="col-12">
                            <FormInput
                                name="title"
                                label="Anketos pavadinimas"
                                v-model="poll.title"
                                placeholder="pvz. Anketa"
                                class="col-xs-12"
                            ></FormInput>
                        </div>

                        <div class="col">
                            <FormSelect
                                name="status"
                                label="Statusas"
                                v-model="poll.status"
                                :options="statusSelect"
                            ></FormSelect>
                        </div>

                        <div class="col">
                            <Datepicker
                                name="starts_at"
                                label="Galioja nuo"
                                v-model="poll.starts_at"
                                placeholder="pvz. 2018-01-01"
                            ></Datepicker>
                        </div>

                        <div class="col">
                            <Datepicker
                                name="starts_at"
                                label="Galioja nuo"
                                v-model="poll.ends_at"
                                placeholder="pvz. 2018-01-01"
                            ></Datepicker>
                        </div>

                        <div class="col-12 alert alert-danger text-center" v-if="poll.answers_count > 0">
                            <p>Negalite redaguoti klausimų, nes anketa turi atsakymų!</p>
                        </div>

                        <div class="col-12" v-if="poll.full_url">
                            <label>Nuoroda į anketą</label>
                            <FormInput
                                type="text"
                                disabled
                                name="url"
                                :value="poll.full_url"
                                placeholder="https://www.anketos-adresas.lt/asw32d"
                            >
                            </FormInput>
                        </div>
                    </div>
                    <template v-if="! poll.answers_count > 0">
                        <div
                            class="row poll-question mb-2"
                            :key="index"
                            v-for="(question, index) in poll.questions"
                        >
                            <QuestionForm
                                :question="question"
                                :key="index"
                                :index="index"
                            ></QuestionForm>
                        </div>

                        <div class="col-12">
                            <a href="#" @click.prevent="addPollQuestion">
                                Pridėti naują klausimą <i class="pull-right material-icons">add_circle_outline</i>
                            </a>
                        </div>

                        <div class="col-12 my-3">
                            <hr>
                        </div>
                    </template>
                    <div v-if="errors.has('questions')" class="col-12 alert alert-danger">
                        {{ errors.first('questions') }}
                    </div>
                    <div class="text-center">
                        <button
                            :disabled="loading"
                            type="button"
                            @click.prevent="confirm()"
                            class="btn btn-sm btn-primary"
                        >
                            {{ loading ? 'Vykdoma..' : 'Išsaugoti' }}
                        </button>
                    </div>
                </Card>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import QuestionForm from './QuestionForm'

export default {
  name: 'PollsCreate',

  data () {
    return {
      statusSelect: [
        { value: 'active', text: 'Aktyvus' },
        { value: 'inactive', text: 'Neaktyvus' },
        { value: 'draft', text: 'Juodraštis' }
      ],
      loading: false
    }
  },

  computed: {
    ...mapGetters([
      'poll'
    ]),

    title () {
      return this.poll.id ? 'Redaguoti' : 'Sukurti naują'
    }
  },

  created () {
    this.setPoll({
      questions: []
    })
  },

  methods: {
    ...mapMutations([
      'setPoll',
      'addPollQuestion',
      'resetPoll'
    ]),

    confirm () {
      this.errors.clear()

      this.loading = true

      this.$api.polls.admin.manage(this.poll.id, this.poll)
        .then(() => {
          this.$router.push('/admin/polls')
        })
        .catch((response) => {
          this.setErrorsFromResponse(response)
        }).finally(() => {
          this.loading = false
        })
    }
  },

  beforeRouteLeave (to, from, next) {
    this.resetPoll()
    next()
  },

  components: {
    QuestionForm
  }
}
</script>
