<template>
    <div class="col-12">
        <div class="poll-header">
            <FormSelect
                :name="`questions.${index}.type`"
                label="Klausimo tipas"
                v-model="question.type"
                :options="questionTypes"
                :scope="scope"
            ></FormSelect>
        </div>

        <div class="poll-content">
            <FormInput
                :name="`questions.${index}.title`"
                label="Įveskite klausimą"
                v-model="question.title"
                placeholder="pvz. Koks tavo mėgstamiausias vaisius?"
                :scope="scope"
            ></FormInput>

            <div class="clearfix">
                <div class="pull-left">
                    <label class="control control--checkbox">
                        <input
                            type="checkbox"
                            :id="index + 'required'"
                            v-model="question.required"
                            value="1"
                        />
                        <label :for="index + 'required'">Privalomas</label>
                    </label>
                </div>
            </div>

            <div class="form-group" v-if="canHaveAnswers">
                <label>Atsakymai</label>

                <OptionForm
                    v-for="(option, optionIndex) in question.options"
                    :key="optionIndex"
                    :option="option"
                    :index="optionIndex"
                    :questionIndex="index"
                    @remove="removeOption(optionIndex)"
                    :scope="scope"
                ></OptionForm>

                <div class="row mt-2">
                    <div class="col-12 text-center">
                        <a
                            href="#"
                            @click.prevent="addOption"
                            class="btn btn-sm btn-success"
                        >
                            Pridėti atsakymą
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import OptionForm from './OptionForm'

export default {
  inject: ['$validator'],

  data () {
    return {
      questionTypes: [
        { value: 'radio', text: 'Varianto pasirinkimas' },
        { value: 'checkbox', text: 'Kelių variantų pasirinkimas' },
        { value: 'text', text: 'Eilutė teksto įvedimui' },
        { value: 'textarea', text: 'Langelis teksto įvedimui' }
      ]
    }
  },

  props: {
    question: Object,
    index: Number,
    scope: String
  },

  computed: {
    canHaveAnswers () {
      return this.question.type === 'radio' || this.question.type === 'checkbox'
    }
  },

  methods: {
    addOption () {
      this.question.options.push({})
    },

    removeOption (index) {
      this.question.options.splice(index, 1)
    }
  },

  components: {
    OptionForm
  }
}
</script>
