<template>
    <div class="row">
        <div class="col-12 d-none d-md-inline-block">
            <div class="login-block-register justify-content-center align-items-center d-flex">
                <RegisterForm></RegisterForm>
            </div>
        </div>
    </div>
</template>

<script>
import RegisterForm from './RegisterForm'

export default {
  name: 'Register',

  components: { RegisterForm }
}
</script>
