<template>
    <div class="mb-3 col-12">
        <div class="row mb-3">
            <div class="col-6 d-flex align-items-center">
                <h3 class="page-title">Registracija</h3>
            </div>
        </div>

        <Card>
            <FormInput
                label="Vardas"
                name="first_name"
                type="text"
                v-model="user.firstName"
            ></FormInput>

            <FormInput
                label="Pavardė"
                name="last_name"
                type="text"
                v-model="user.lastName"
            ></FormInput>

            <FormInput
                label="El. paštas"
                name="email"
                type="text"
                v-model="user.email"
            ></FormInput>

            <FormInput
                label="Slaptažodis"
                name="password"
                type="password"
                v-model="user.password"
            ></FormInput>

            <FormInput
                label="Slaptažodžio patvirtinimas"
                name="password_confirmation"
                type="password"
                v-model="user.passwordConfirmation"
            ></FormInput>

            <div class="row">
                <div class="mb-3 text-center mx-auto">
                    <button
                        @click.prevent="register"
                        class="btn btn-primary w-100"
                    >
                        Registruotis
                    </button>
                </div>
                <div class="col-12 text-center">
                    <span class="text-black-sm">
                        Jau turite vartotoją?

                        <router-link to="/login">Prisijungti</router-link>
                    </span>
                    <br>
                    <span class="text-black-sm">
                        <router-link to="/password-reset">Pamiršote slaptažodį?</router-link>
                    </span>
                </div>
            </div>
        </Card>
    </div>
</template>

<script>
export default {
  name: 'RegisterForm',

  data () {
    return {
      user: {
        firstName: null,
        lastName: null,
        email: null,
        password: null,
        passwordConfirmation: null
      }
    }
  },

  methods: {
    register () {
      this.errors.clear()

      this.$api.auth.register(this.user).then(() => {
        this.$router.push('/login')
      }).catch((response) => {
        this.setErrorsFromResponse(response)
      })
    }
  }
}
</script>

<style scoped>
    .page-title {
        margin: 0;
    }
</style>
