<template>
    <div class="row">
        <div class="col-12">
            <div class="login-block justify-content-center align-items-center d-flex">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="row mb-3">
                        <div class="col-6 d-flex align-items-center">
                            <div class="page-title">Prisijungimas</div>
                        </div>
                    </div>

                    <Card>
                        <form @submit.prevent="login" id="loginForm">
                            <FormInput
                                label="El. pašto adresas"
                                autofocus
                                name="email"
                                type="email"
                                v-model="credentials.email"
                            ></FormInput>

                            <FormInput
                                label="Slaptažodis"
                                name="password"
                                type="password"
                                v-model="credentials.password"
                            ></FormInput>

                            <FormCheckBox
                                label="Prisiminti mane"
                                name="rememberMe"
                                v-model="rememberMe"
                            >
                            </FormCheckBox>

                            <button
                                class="btn btn-primary w-100 mt-3 mb-3"
                                type="submit"
                            >
                                Prisijungti
                            </button>
                        </form>

                        <div class="text-center">
                        <span class="text-black-sm">
                            Neturite vartotojo?
                            <router-link to="/register">Registruotis</router-link>
                        </span>

                            <br>

                            <span class="text-black-sm">
                            <router-link to="/password-reset">Pamiršote slaptažodį?</router-link>
                        </span>
                        </div>
                    </Card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Login',

  data () {
    return {
      credentials: {
        email: '',
        password: ''
      },
      rememberMe: false
    }
  },

  methods: {
    login () {
      this.$auth.login({
        params: this.credentials,
        rememberMe: this.rememberMe,
        redirect: '/',
        fetchUser: true
      }).catch((response) => {
        this.setErrorsFromResponse(response)
      })
    }
  }
}
</script>

<style scoped>
    .page-title {
        margin: 0;
    }
</style>
