<template>
    <div class="row">
        <div class="col-12">
            <div class="login-block justify-content-center align-items-center d-flex">
                <div class="col-12">
                    <div class="row mb-3">
                        <div class="col-7 d-flex align-items-center">
                            <h3 class="page-title">Priminti slaptažodį</h3>
                        </div>
                    </div>

                    <Card>
                        <template v-if="!success">
                            <form @submit.prevent="submit" class="mt-3">
                                <FormInput
                                    label="El. pašto adresas"
                                    autofocus
                                    name="email"
                                    type="email"
                                    v-model="email"
                                ></FormInput>

                                <button
                                    class="btn btn-block btn-primary"
                                    disabled v-if="loading"
                                >
                                    Vykdoma...
                                </button>

                                <button
                                    class="btn btn-block btn-primary"
                                    type="submit"
                                    v-else
                                >
                                    Priminti
                                </button>

                                <br>
                                <div class="text-center">
                                    <span class="text-black-sm">
                                        Neturite vartotojo?
                                        <router-link to="/register">
                                           Registruotis
                                        </router-link>
                                    </span>
                                </div>

                                <div class="text-center mt-2">
                                    <span class="text-black-sm">
                                        Jau turite vartotoją?
                                        <router-link to="/login">Prisijunkite</router-link>
                                    </span>
                                </div>
                            </form>
                        </template>

                        <template v-else>
                            <div>
                                <h3 class="text-center">
                                    Priminimas išsiųstas
                                </h3>

                                <div class="text-center mt-2">
                                    <p>Pasitikrinkite savo pašto dėžutę ir sekite instrukcijas.</p>
                                </div>
                            </div>
                        </template>
                    </Card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'PasswordReset',

  data () {
    return {
      email: null,
      success: false,
      loading: false
    }
  },

  methods: {
    submit () {
      this.errors.clear()
      this.loading = true

      this.$api.auth.resetPassword(this.email).then((res) => {
        if (res.status === 200) {
          this.success = true
        }
      }).catch((response) => {
        this.setErrorsFromResponse(response)
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>
    .page-title {
        margin: 0;
    }
</style>
