<template>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="login-block justify-content-center align-items-center d-flex">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="row mb-3">
                       <div class="col-6 d-flex align-items-center">
                            <div class="page-title">Patvirtinkite savo el. pašto adresą</div>
                        </div>
                    </div>

                    <Card>
                        <template v-if="resent">
                            <div class="alert alert-success">
                                Patvirtinimo laiškas buvo išsiųstas.
                            </div>
                        </template>

                        <template v-else>
                            Prieš tęsdami, pasitikrinkite savo el. pašto dėžutę patvirtinimo nuorodai gauti.

                            <div class="text-center mt-3">
                                <button @click="resend" class="btn btn-primary">Siųsti iš naujo</button>
                            </div>
                        </template>
                    </Card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Verify',

  data () {
    return {
      resent: false
    }
  },

  methods: {
    resend () {
      this.$api.auth.resendVerification()
        .then(() => {
          this.resent = true
        })
    }
  }
}
</script>

<style scoped>
    .page-title {
        margin: 0;
    }
</style>
