<template>
    <div>
        <template v-if="$auth.check()">
            <AppSidebar/>

            <div class="content-wrapper">
                <router-view/>
            </div>
        </template>

        <template v-else>
            <div class="container-fluid">
                <router-view/>
            </div>
        </template>
    </div>
</template>

<script>
import AppSidebar from '@/App/AppSidebar'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'App',

  components: {
    AppSidebar
  },
}
</script>
