<template>
    <Sidebar>
        <template>
            <Avatar slot="avatar">
                <template slot="user-name">{{ $auth.user().firstName }} {{ $auth.user().lastName }}</template>
            </Avatar>

            <SidebarItem icon="user-alt" to="/profile">Profilis</SidebarItem>
            <SidebarItem icon="gem" to="/admin/polls" v-if="$auth.user().isAdmin">Anketos</SidebarItem>
            <SidebarItem icon="gem" to="/polls" v-if="!$auth.user().isAdmin">Anketos</SidebarItem>

            <div class="text-center pt-4">
                <a @click.prevent="logout" href="" class="text-grey-sm">Atsijungti</a>
            </div>
        </template>
    </Sidebar>
</template>

<script>
export default {
  name: 'AppSidebar',

  methods: {
    logout () {
      return this.$auth.logout({
        redirect: '/login'
      })
    }
  }
}
</script>
